.section {
    height: 100vh;
}

.home-bg {
    background-image: url('../../images/home-bg.jpg');
    background-size: cover;
    background-position: center;
    font-family: gothamBold;
}

@font-face {
    font-family: gothamBold;
    src: url('../../font/Gotham-Rounded-Font/Gotham\ Rounded\ Medium.otf');
 }

 @font-face {
    font-family: gotham;
    src: url('../../font/Gotham-Rounded-Font/Gotham\ Rounded\ Medium.otf');
 }

 .small {
    // background-color: rgba(0,0,0,0.5);
    // border: #000 solid;
    // border-width: 1px 0;
    // text-align: center;
 }

 .collapsing, .show {
    background-color: rgba(0,0,0,0.5);
    text-align: center;
 }